Project Objectives/Create and Configure IBM Cloud Services/NODE RED FLOW.json
[{"id":"41032d1f4934ad88","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"6b90d0ee0b4eb9df","type":"ibmiot","name":"123459","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"8aac4ae9ce5639ca","type":"ui_tab","name":"Garden","icon":"dashboard","disabled":false,"hidden":false},{"id":"5528a980f9317dff","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"db754066fad32db1","type":"ui_group","name":"Default","tab":"8aac4ae9ce5639ca","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"923cd147a1a35926","type":"ui_group","name":"Default","tab":"8aac4ae9ce5639ca","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5e7fed4c5f19fe57","type":"ui_tab","name":"Farmer","icon":"dashboard","disabled":false,"hidden":false},{"id":"cf0e4bb7787e7e06","type":"ui_group","name":"Smart","tab":"5e7fed4c5f19fe57","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"0a8fa02eb7c60632","type":"ui_group","name":"Smart","tab":"8aac4ae9ce5639ca","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"953de2226202a8c2","type":"ui_tab","name":"BOARD","icon":"dashboard","disabled":false,"hidden":false},{"id":"24c6f1fd0dd64e48","type":"ui_group","name":"SWITCH","tab":"953de2226202a8c2","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"41032d1f4934ad88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":240,"wires":[]},{"id":"326c4bbe14fd0e57","type":"ibmiot in","z":"41032d1f4934ad88","authentication":"apiKey","apiKey":"6b90d0ee0b4eb9df","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":120,"wires":[["02fa711d41899a14","fbc59c938b864e3a","940d34ccaea2a8f6"]]},{"id":"02fa711d41899a14","type":"function","z":"41032d1f4934ad88","name":"Moist","func":"global.set('moist',msg.payload.moist)\nmsg.payload=msg.payload.moist\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":60,"wires":[["f2f2649a.0d0d98","592bc9597d4b5696","252caddaa75a1bac"]]},{"id":"fbc59c938b864e3a","type":"function","z":"41032d1f4934ad88","name":"hum","func":"global.set('hum',msg.payload.hum)\nmsg.payload=msg.payload.hum\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":120,"wires":[["938eb304d9768851","f2f2649a.0d0d98"]]},{"id":"940d34ccaea2a8f6","type":"function","z":"41032d1f4934ad88","name":"Temperature","func":"global.set('temp',msg.payload.temp)\nmsg.payload=msg.payload.temp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":180,"wires":[["c1914af636e592b5","f2f2649a.0d0d98"]]},{"id":"938eb304d9768851","type":"ui_chart","z":"41032d1f4934ad88","name":"","group":"cf0e4bb7787e7e06","order":1,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":620,"y":120,"wires":[[]]},{"id":"c1914af636e592b5","type":"ui_chart","z":"41032d1f4934ad88","name":"","group":"cf0e4bb7787e7e06","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":650,"y":180,"wires":[[]]},{"id":"592bc9597d4b5696","type":"switch","z":"41032d1f4934ad88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":260,"wires":[["c262d34ffe761e2c"]]},{"id":"c262d34ffe761e2c","type":"http request","z":"41032d1f4934ad88","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=mo3KRCt2gEwpxSZnuQWTMAHBOa4YFDJ9NVscvdjUGeizlhX75qDeUvh7JMtLzcQij89dyOYb1Bk4WG3C&route=q&message=Less%20moisture%20detected&language=english&flash=0&numbers=9315864297","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":430,"y":320,"wires":[["d5d9a7586e482ccf"]]},{"id":"d5d9a7586e482ccf","type":"debug","z":"41032d1f4934ad88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":320,"wires":[]},{"id":"aa63d873114cbfc9","type":"http in","z":"41032d1f4934ad88","name":"[get/data]","url":"/smartfarmer","method":"get","upload":false,"swaggerDoc":"","x":280,"y":380,"wires":[["f0f78ab3a2ed9915"]]},{"id":"0190f145467ebfe1","type":"http response","z":"41032d1f4934ad88","name":"","statusCode":"","headers":{},"x":630,"y":380,"wires":[]},{"id":"f0f78ab3a2ed9915","type":"function","z":"41032d1f4934ad88","name":"mit app","func":"msg.payload={\n    \"temperature\":global.get('temp'),\n    \"humidity\":global.get('hum'),\n    \"moisture\":global.get('moist')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":380,"wires":[["0190f145467ebfe1"]]},{"id":"52b5cd751007cc28","type":"ui_button","z":"41032d1f4934ad88","name":"","group":"24c6f1fd0dd64e48","order":0,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"str","topic":"topic","topicType":"msg","x":390,"y":440,"wires":[["70f987108efd9ea5","a4fbc3bb581a12d7"]]},{"id":"a4fbc3bb581a12d7","type":"ibmiot out","z":"41032d1f4934ad88","authentication":"apiKey","apiKey":"6b90d0ee0b4eb9df","outputType":"cmd","deviceId":"123459","deviceType":"Raspberrypi","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":600,"y":440,"wires":[]},{"id":"012f52a423534692","type":"ui_button","z":"41032d1f4934ad88","name":"","group":"24c6f1fd0dd64e48","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"str","topic":"topic","topicType":"msg","x":380,"y":500,"wires":[["a4fbc3bb581a12d7","70f987108efd9ea5"]]},{"id":"70f987108efd9ea5","type":"debug","z":"41032d1f4934ad88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":500,"wires":[]},{"id":"d5b824c0dd7c0113","type":"http in","z":"41032d1f4934ad88","name":"[get]/command","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":380,"y":560,"wires":[["4bd54cf25ce64b99","a4fbc3bb581a12d7","70f987108efd9ea5"]]},{"id":"4bd54cf25ce64b99","type":"http response","z":"41032d1f4934ad88","name":"","statusCode":"","headers":{},"x":610,"y":560,"wires":[]},{"id":"252caddaa75a1bac","type":"ui_gauge","z":"41032d1f4934ad88","name":"moist","group":"db754066fad32db1","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":650,"y":60,"wires":[]}]